<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
        </tr>
        <tr>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td>
                <a th:href="@{/users/{id}/edit (id=${user.getId()})}">Изменить</a>
            </td>
            <td>
                <form th:method="delete" th:action="@{/users/{id} (id=${user.getId()})}">
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
    </table>
    <p>
        <a th:href="@{/users}">Назад к списку пользователей</a>
    </p>
</div>
</body>
</html>